/.dart_tool/
/.packages
/build/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
.flutter-plugins
.flutter-plugins-dependencies
.idea/
/.vscode/
**/GeneratedPluginRegistrant.*
pubspec.lock
ios/Podfile.lock
ios/Runner.xcodeproj/project.pbxproj
ios/.DS_Store
