/.dart_tool/
/.packages
/build/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
.flutter-plugins
.flutter-plugins-dependencies
.idea/
/.vscode/
**/GeneratedPluginRegistrant.*
ios/.DS_Store
ios/LocalBundleId.txt
